TASK1 : 1

In [1]:
print("Masters Data science Batch:August18")

Masters Data science Batch:August18

TASK1:2

In [2]:
j=[]
for i in range(2000,3201):
    if i%7==0:
        if i%5!=0:
            j.append(i)
print(j)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Another way to do the same problem TASK1:2

In [52]:
j=[x for x in range(2000,3201) if (x%7==0 and x%5!=0)]
print(j)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

TASK1:3

In [54]:
first_name=input('Enter your First name')
Last_name=input('Enter your last name')
print(first_name + ' '+Last_name[::-1])

Enter your First nameNandana
Enter your last nameKudeti
Nandana iteduK

TASK1:4

In [1]:
diametr=12
radius=diametr/2
pi=3.14
print(f'Volume of a sphere: {4/3*pi*radius**3}')

Volume of a sphere: 904.3199999999999

TASK2:1

In [6]:
inp=input('Please enter the list of numbers you want to see in a list with comma seperated:')
mylist=[x for x in inp.split(',')]
mylist

Please enter the list of numbers you want to see in a list with comma seperated:1,2,3,4,55,66,77,0

['1', '2', '3', '4', '55', '66', '77', '0']

TASK2:2

In [17]:
for i in range(0,5):
    print('*'*i)
for i in range(4,0,-1):
    print('*' * i)

*
**
***
****
****
***
**
*

TASK2:3

In [21]:
name=input('Enter your name')
name[::-1]

Enter your nameAcadGild

'dliGdacA'

TASK2:4

In [51]:
Str='WE,THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC and to secure to all its citizens'
print(Str.split('having')[0])
print('     '+Str.split('INDIA,')[1].split('SOCIALIST')[0],end='!'+'\n')
print('           '+Str.split('SOVEREIGN,')[1].split('and')[0])
print('           '+Str.split('REPUBLIC')[1])

WE,THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN,!
           SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
            and to secure to all its citizens